* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100%;
	font-size: 15px;
	background-color: hsl(233, 47%, 7%);
	font-family: "Lexend Deca", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
}

main {
	width: 100%;
	min-height: 100vh;
	padding: 1.3rem 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

article {
	width: 90%;
	max-width: 345px;
	background-color: hsl(244, 37%, 16%);
	border-radius: 0.5rem;
	display: flex;
	flex-direction: column;
}

.bg-primary {
	width: 100%;
	flex-basis: 250px;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url('../assets/images/image-header-mobile.jpg');
	border-radius: 0.5rem 0.5rem 0 0;
	flex-shrink: 0;
}

.overlay {
	width: 100%;
	height: 100%;
	border-radius: 0.5rem 0.5rem 0 0;
	background-color: hsla(277, 64%, 61%, 50%);
}

.content {
	padding: 2rem; 
}

.content h1 {
	color: hsl(0, 0%, 100%);
	text-align: center;
	font-family: "Inter", sans-serif;
}

.content h1 span {
	color: hsl(277, 64%, 61%);
}

.content > p {
	color: hsla(0, 0%, 100%, 0.75);
	text-align: center;
	margin: 1rem 0;
}

.content .stats, .content .stats > p {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.content .stats {
	margin-top: 2rem;
	gap: 1rem;
}

.content .stats > p {
	color: hsla(0, 0%, 100%, 0.6);
	gap: 0.3rem;
}

.content .stats > p .stat-value {
	color: hsl(0, 0%, 100%);
	font-size: 1.5rem;
}

.content .stats > p .stat-name {
	text-transform: uppercase;
	font-size: 0.8rem;
}

@media all and (min-width: 768px) {
	
	article {
		flex-direction: row-reverse;
		max-width:1000px;
	}
	
	.bg-primary {
		background-image: url('../assets/images/image-header-desktop.jpg');
		border-radius: 0 0.5rem 0.5rem 0;
		flex-basis: 50%;
	}
	
	.overlay {
		border-radius: 0 0.5rem 0.5rem 0;
	}
	
	.content {
		flex-basis: 50%;
		padding: 2rem;
	}
	
	.content h1, .content > p {
		text-align: left;
	}
	
	.content > p {
		margin: 1.5rem 2rem 0 0;
	}
	
	.content .stats {
		margin: 3rem 2.5rem 0 0;
		flex-direction: row;
		justify-content: space-between;
	}
}

@media all and (min-width: 900px) {
	
	.content {
		padding: 3rem;
	}
	
	.content h1 {
		font-size: 2.3rem;
	}
	
	.content > p {
		margin: 1.5rem 2rem 0 0;
	}
	
	.content .stats {
		margin: 4rem 3.5rem 0 0;
	}
}
